.Button {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding:0 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    min-width: 100px;
  }
  
  .Button:first-of-type {
    margin-left: 0;
  }
  .Button:disabled {
    color:#ccc;
    cursor: not-allowed;
  }
  
  .Success {
    color: #5c9210;
  }
  
  .Danger {
    color: #944317;
  }